body {
    font-family: sans-serif;
    text-align: center;
}

.headline {
    font-weight: 500;
}

#scores-table {
    margin-left: auto;
    margin-right: auto;
    size: 65%;
    font-size: x-large;
    justify-self: center;
}

a {
    font-size: larger;
    font-weight: 200;
    color: olive;
    margin-left: 1em;
    margin-right: 1em;
}