body {
    font-family: sans-serif;
}

nav {
    background-color: lightblue;
}

.navbar-brand {
    color: black;
    font-family: sans-serif;
    font-size: x-large;
    font-weight: 700;
}

#scoreboard {
    font-family: Arial, Helvetica, sans-serif;
    color: red  
};