/* Body */ 
body {
    background-color: rgb(230, 230, 230); 
    /* background-color: rgb(50, 50, 50); */
    font-family: monospace;
    /* color: rgb(238, 219, 255); */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-btn {
    border: 2px solid black;
    background-color: rgb(230, 230, 230);
    display: inline-block;
    padding: 18px 24px;
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1;
    transition: all 0.2s ease;
    text-align: center;

}

.about-btn a {
    color: black;
}

.about-btn:hover {
    background-color: RGB(51,153,102);
}

.about-btn a:hover {
    color: white;
}

#league-name {
    margin-top: 1em;
}

#league-subtitle {
    font-style: italic;
    font-weight: 200;
    font-size: large;
}
a {
    color: white;
    font-size: large;
    margin: 0.5em;
    text-decoration: none;
}
a:hover {
    color: aqua;
}
.tag-line {
    margin-top: 1em;
}
#scoreboard-period-select {
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-select {
    width: 25%;
}
.input-group {
    font-size: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.25em;
    width: 15%;
}
.input-group-addon {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
 
table {
    background-color: RGB(51,153,102);
    color: white;
    font-size: larger;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
}
th, tr, td {
    border: 2px solid rgb(230, 230, 230);
    text-decoration: none;
}

th {
    background-color: RGB(21,113,62);
    color: black;
    font-weight: lighter; 
}

.scores-table {
   width: 25%;
   font-size: larger;
}

.lineup-table {
    width: 35%;
    background-color: rgba(119, 136, 153, 0.75);
    font-size: larger;
}
.lineup-table th {
    background-color: lightslategray;
}
.total-row {
    font-weight: bold;
    background-color: lightslategray;
    color: black;
}

button {
    margin: 5px;
}
#slack-button {
    background-color: purple;
    border-color: purple;
}
#espn-button {
    background-color: red;
    border-color: red;
}  