/*
body {
    background-color: rgb(248,249,250);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headline {
    font-weight: 500;
}

.nav-item {
    font-size: larger;
}

.form-select {
    width: 25%;
}

#scores-table {
    background-color: RGB(51,153,102);
    color: white;
    border-color: white;
    padding-top: 10px;
    font-size: larger;
    width: fit-content;
    border: 3px solid black;
    column-width: 20px;
}

thead {
    background-color: RGB(26,128,77);
    padding-left: 15px;
}

a {
    color: gray;
    font-size: x-large;
    font-weight: 200;
    margin: 2em;
}

.input-group {
    font-size: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.25em;
    width: 15%;
}

.input-group-addon {
    margin-left: 0.5em,
    margin-right: 0.5em
}

.team-col {
    text-align: left;
}

.score-col {
    text-align: right;
}

tr.header {
    cursor:pointer;
}

button {
    margin: 5px;
}

#slack-button {
    background-color: purple;
    border-color: purple;
}

#espn-button {
    background-color: red;
    border-color: red;
}

img {
    width: 40px;
    height: auto;
}

td {
    margin: 5px;
}
*/