{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<form class="form-inline" method="POST" action="{{ url_for('archive') }}"> 
  <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon">Year</span>
              <select name="year_select" class="selectpicker form-control" placeholder="hello">
                <option selected>{{ year }}</option>
                <option value="2021">2015</option> 
                <option value="2020">2016</option>
                <option value="2019">2017</option>
                <option value="2018">2018</option>
                <option value="2017">2019</option>
                <option value="2016">2020</option>
                <option value="2015">2021</option>
                <option value="2015">2022</option>
              </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Week</span>
            <select name="week_select" class="selectpicker form-control">
              <option selected>{{ week }}</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
            </select>
    </div>
      <button type="submit" class="btn btn-default">Go</button>
    </div>
  </form>
  <table class="table-center" id="scores-table">
    <thead><th>Team</th><th>Score</th></thead>
      {% for key, value in scores.items() %}
      <tr class="header"><td>{{ key }}</td><td>{{ value }}</td></tr>
      <tr class="collapsed-row"><td>1</td><td>3</td></tr>
      {% endfor %}
  </table> 
{% endblock %}