{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<form method="POST" action="{{ url_for('archive') }}">
  <span>
    <p>Year</p>
      <select name="year_select">
        <option selected>{{ year }}</option>
        <option value="2015">2015</option> 
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
      </select>
    
    <p>Week</p>
      <select name="week_select">
        <option selected>{{ week }}</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
      </select>
    <button type="submit" class="btn btn-default">Go</button>
    </span>
</form>

<table id="scores-table">
  <thead>
    <th>Team</th>
    <th>Score</th>
  </thead>
  {% for key, value in scores.items() %}
    <tr class="header"><td>{{ key }}</td><td>{{ value }}</td></tr>
  {% endfor %}
</table> 
{% endblock %}