<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dynasty Scoreboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </head>
  <body>
    <section class="container" id="top-section">
      <h1 id="league-name" >{{ alias["league_name"] }}</h1>
      <div class="links">
        <a class="menu-btn" role="button" href="{{ url_for('scores') }}">This Week</a>
        <a class="menu-btn" role="button" href="{{ url_for('scoreboard') }}">Current Scoreboard</a>
        <a class="menu-btn" role="button" href="{{ url_for('archive') }}">League Archive</a>
      </div>
    </section>
    <section class="container" id="middle-section">{% block body %}{% endblock %}
    </section>
    <section class="container" id="bottom-section">  
      <footer>  
        <p><a href="{{ url_for('index') }}">Dynasty Scoreboard</a> created by <a href="http://drewgilmore.info">Drew Gilmore</a>  see code on <a href="https://github.com/drewpgilmore/dynasty">GitHub</a></p>
      </footer>
    </section>
  </body>
</html>