{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block currentWeek %}

Week {{ week }}

{% endblock %}


{% block body %}

<div class="container-sm">
    <table class="table table-sm" id="scores-table">
        <thead>
            <th scope="col" class="team-col">Team</th>
            <th score="col" class="score-col">Score</th>
        </thead>
        {% for key, value in scores.items() %}
        <tr>
            <td class="team-col">{{ key }}</td>
            <td class="score-col">{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}