{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block currentWeek %}

{% endblock %}


{% block body %}
<h4 class="tag-line">Projected Scores for Week {{ week }}</h4>
<table class="scores-table">
    <thead>
        <th>Owner</th>
        <th>Proj. Score</th>
    </thead>
    <tbody>
    {% for key, value in scores.items() %}
    <tr>
        <td><a href="{{ url_for('displayLineup', owner=key, year=year, week=week) }}">{{ key }}</td>
        <td>{{ value }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}