<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/sample.css">
    <title>Document</title>
</head>
<body>
    <section class="container" id="top">
        <h1>The Dynasty Scoreboard</h1>
        <h4>An Alternative to Matchup Scoring in Fantasy Football</h4>
        <button>check it out</button>
        <button>connect your league</button>
    </section>
    <section class="container" id="middle">
        <h4>Here's some more info!</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi unde eius cumque voluptatem a possimus, explicabo repudiandae sit odit excepturi, harum laborum illo error exercitationem dolor necessitatibus, mollitia provident! Ex?</p>
    </section>   
    <section class="container" id="bottom">
        <p>made by <a href="http://drewgilmore.info">Drew Gilmore</a>  see code on <a href="https://github.com/drewpgilmore/dynasty">GitHub</a></p>
    </section>
</body>
</html>