{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<table class="scoreboard">
    <thead> 
        <th>Owner</th>
        <th>Week 1</th>
        <th>Week 2</th>
        <th>Week 3</th>
        <th>Week 4</th>
        <th>Total</th>
        <th>Points For</th>
    </thead>
    <tbody>
        <tr>
            <td>Michael</td>
            <td>5</td>
            <td>6</td>
            <td>2</td>
            <td>10</td>
            <td>23</td>
            <td>456.9</td>
        </tr>
    </tbody>
</table>

{% endblock %}