{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}
<p class="tag-line">Scores for Week {{ week }}</p>
<table class="scoreboard">
    <thead>
        <th>Owner</th>
        <th>Score</th>
    </thead>
    <tbody>
    {% for key, value in scores.items() %}
        {% if div[key] == "Leucadia" %}
            <tr id="leucadia-scoreboard">
                <td><a href="{{ url_for('displayLineup', owner=key, year=year, week=week) }}">{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% else %}
            <tr id="cardiff-scoreboard">
                <td><a href="{{ url_for('displayLineup', owner=key, year=year, week=week) }}">{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endif %}

    {% endfor %}
    </tbody>
</table>
{% endblock %}